.footer {
  box-shadow: 0 -1px 0 #e1e7ed;

  &__lists {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    margin-top: 44px;
    margin-bottom: 20px;
  }

  &__list {
    list-style-type: none;
    margin-bottom: 43px;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__link {
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      color: #00acdc;
    }
  }
}
