.header-container {
  display: flex;
  height: 60px;
  line-height: 60px;
  justify-content: space-between;
  margin: 0 15px;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 0 #e1e7ed;
}

.header {
  &__link {
    line-height: 0;
  }

  &__logo {
    width: 30px;
    height: 30px;
  }
}
